@media (min-width: 600px)
{
main {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	#content {
		margin-top: 100px;
		margin-bottom: 50px;
		position: relative;
	}

	p {
		text-indent: 20px;
		font-size: 18px;
		line-height: 20px;
		padding: 10px;
	}

	img {
		width: 100%;
	}
	.links {
	font-size: 18px;
	margin-bottom: 20px;
	width: 100%;
		.box {
/* 			width: 200px; */
			a {
				padding: 20px;
				width: 200px;
			}
		}
	}

}



header {
	img {
		max-height: 10px;
		margin-top: 90px;
		overflow: hidden;
	}
	.line {
	 background-image: url("images/header-grid.png") no-repeat;
		width: 50px;
		height: 50px;
		overflow:hidden;
	}
	nav {
		display: inline-block;
		width: 100%;
		h1 {
			float: left;
			font-size: 46px;
			text-indent: 50px;
			margin-top: 20px;
		}
		a {
			margin-top: 10px;
			float: right;
			padding: 5px;
			font-size: 18px;
			text-decoration: none;
			&:hover {
				text-decoration: overline underline;
			}
		}
	}
}

.portfolio {
	padding: 10px;
	margin: 100px auto;
	img {
		padding: 0;
		max-width:60%;
		margin-left: 20%;
	}
}

.intro {
	a {
		margin-left: 40%;
		font-size: 20px;
	}
}

.userstories {
  margin-top: 20px;
  li {
    max-width: 20%;
    height: 110px;
    padding: 5px;
  }
}

.survey {
	h2 {
		margin-top: 20px;
	}
	img {
		margin-top: 30px;
	}
	.survey-results {
		max-width: 60%;
		margin: 0 0 0 20%;
		font-size: 14px;
		text-indent: 20px;
	}
}

.style {
	img {
		margin-top: 30px;
	}
	.caption {
		font-size: 14px;
	}
}

footer {
	img {
		height: 10px;
	}
}


}
