main {
	width: 50%;
	margin: 0 auto;
}

p {
	text-indent: 20px;
	font-size: 16px;
	line-height: 20px;
	padding: 10px;
	margin: 5px;
}

img {
	width: 50%;
	margin-left: 25%;
}

nav {
	display: inline-block;
	width: 100%;
	h1 {
		float: left;
	}
	a {
		float: right;
		padding: 5px;
		text-decoration: none;
		&:hover {
			text-decoration: overline underline;
		}
	}
}
