@media (min-width: 700px)
{
main {
	width: 70%;
	margin: 0 auto;
	padding: 5px;
	#content {
		margin-top: 180px;
		margin-bottom: 50px;
		position: relative;
	}

	p {
		text-indent: 20px;
		font-size: 18px;
		line-height: 20px;
		padding: 10px;
	}


}

.portfolio {
	padding: 10px;
	margin-top: 160px auto;
	img {
		width: 50%;
	}
}

header {
	img {
		max-height: 150px;
		overflow: hidden;
	}
	nav {
		display: inline-block;
		width: 100%;
		h1 {
			float: left;
			font-size: 46px;
			text-indent: 100px;
			margin-top: 50px;
		}
		a {
			margin-top: 10px;
			float: right;
			padding: 5px;
			font-size: 20px;
			text-decoration: none;
			&:hover {
				text-decoration: overline underline;
			}
		}
	}
}



}
