@media (max-width: 599px){

main {
	width: 80%;
	margin: 0 auto;
	#content {
		margin-top: 10px;
		padding-top: 70px;
		p {
			text-indent: 10px;
			font-size: 14px;
			line-height: 16px;
			padding: 5px;
			margin: 5px;
		}
		img {
			width: 50%;
			margin-left: 25%;
		}
	}
	.links {
	font-size: 16px;
	width: 100%;
	display: block;
		.box {
			width: 50px;
			text-align: center;
			a {
				padding: 10px;
				display: block;
				margin: 0 auto;
			}
		}
	}
	#contact {
		padding: 20% 0 0 0;
		text-align: center;
		p {
			padding: 5px;
		}
	}
}


header {
	img {
		height: 60px;
		overflow:hidden;
	}
	nav {
		display: block;
		width: 100%;
		height: 50px;
		padding: 10px;
		h1 {
			float: left;
			font-size:26px;
		}
		.internal-links {
			display: block;
			width: 70px;
			height: 50px;
			float: right;
			margin-right: 0;
		}
		a {
			width: 20px;
			padding: 2px;
			text-decoration: none;
			font-size:14px;
			font-weight: bold;
			display: block;
			&:hover {
				text-decoration: overline underline;
			}
			a:first-child {
				float: left;
			}
			a:nth-child(2) {
				float: right;
			}
		}
	}
}

footer {
	img {
		max-height: 6px;
	}
}


}
